.container {
  max-width: 992px;
  height: 100vh;

  display: flex;
  flex-direction: column;

  margin: 0 auto;

  padding: 2.5rem 2rem;
}

.container section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6.25rem;

  flex: 1;
  align-content: center;
}