:root {
  --blue-primary: #00B7D0;
  --blue-secondary: #7FFFFF;
  --blue-text: #B2B9FF;
  --green: #4CD62B;
  --red: #E83F5B;
  --title: #2E384D;
  --text: #363434;
  --gray--line: #DCDDE0;
  --background: #F2F3F5;
  --white: #FFFFFF;
  --yellow: #FFBC3F;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 62.5% Arial, Helvetica, sans-serif;

  color: #121214;
}